@if (temDados()) {
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabela">
    <ng-container
      *ngFor="let disCol of tableColumns; let colIndex = index"
      matColumnDef="{{ disCol.columnDef }}"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ disCol.header }}
      </th>

      <td mat-cell *matCellDef="let element">
        @if (disCol.isVincular) {
          <button
            (click)="vincularFornecedores(element); $event.stopPropagation()"
            type="button"
            class="btn btn-light"
            aria-label="Edit item"
            title="Vincular fornecedores"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-clipboard-plus"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7"
              />
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"
              />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"
              />
            </svg>
          </button>
        } @else {
          @if (disCol.isDate) {
            <span>
              {{
                disCol.cell(element) == 'null' ? '-' : (disCol.cell(element) | date: 'dd/MM/yyyy')
              }}
            </span>
          } @else {
            <span>
              {{ disCol.cell(element) == 'null' ? '-' : disCol.cell(element) }}
            </span>
          }
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
} @else if (mensagemSemDados) {
  <label>{{ mensagemSemDados }}</label>
}
